:root {
  --background-color: #f7f7f7;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --footer-text-color: #545454;
  --modal-text-color: #8c8c8c;
  --accent-color: #ff6b08;
  --underline-color: #ff001b;
}
