:root {
    --backgraund-color: #f7f7f7;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #000000;
    --footer-text-color: #545454;
    --modal-text-color: #8C8C8C;
    --accent-color: #ff6b08;
    --underline-color: #FF001B;
    }
    