<div class="modal-students modal" data-modal="5">
  <button
    class="modal-students__btn js-modal-close"
    type="button"
    data-modal-close
  >
    <svg lang="en" aria-label="close icon" class="modal-students__btn-icon">
      <use href="/src/images/sprite.svg#close-icon"></use>
    </svg>
  </button>

  <div class="team">
    <h2 class="team__title">Гладиолус</h2>
    <ul class="team__list">
      <li class="team__images">
        <picture>
          <source srcset="#" media="(min-width: 1200px)" />
          <source srcset="#" media="(min-width: 768px)" />
          <source srcset="#" media="(max-width: 767px)" />
          <img src="#" alt="Фото Serhii Shturma"
        /></picture>
        <div class="team__subtitle">
          <h3 class="team__name">Serhii Shturma</h3>
          <p class="team__position" lang="en">Team Lead</p>
          <ul class="social-list list">
            <li>
              <a
                href="https://github.com/SergeyShturma"
                class="social-list__link"
                target="_blank"
              >
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/sergey-shturma/"
                class="social-list__link"
                target="_blank"
              >
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <picture>
          <source srcset="#" media="(min-width: 1200px)" />
          <source srcset="#" media="(min-width: 768px)" />
          <source srcset="#" media="(max-width: 767px)" />
          <img src="#" alt="Фото Elena Mulyarchuk"
        /></picture>
        <div class="team__subtitle">
          <h3 class="team__name">Elena Mulyarchuk</h3>
          <p class="team__position" lang="en">Scrum Master</p>
          <ul class="social-list list">
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <picture>
          <source srcset="#" media="(min-width: 1200px)" />
          <source srcset="#" media="(min-width: 768px)" />
          <source srcset="#" media="(max-width: 767px)" />
          <img src="#" alt="Фото Igor Butuzov"
        /></picture>
        <div class="team__subtitle">
          <h3 class="team__name">Igor Butuzov</h3>
          <p class="team__position" lang="en">Developer</p>
          <ul class="social-list list">
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <picture>
          <source srcset="#" media="(min-width: 1200px)" />
          <source srcset="#" media="(min-width: 768px)" />
          <source srcset="#" media="(max-width: 767px)" />
          <img src="#" alt="Фото Oksana Turkevich"
        /></picture>
        <div class="team__subtitle">
          <h3 class="team__name">Oksana Turkevich</h3>
          <p class="team__position" lang="en">Developer</p>
          <ul class="social-list list">
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <picture>
          <source srcset="#" media="(min-width: 1200px)" />
          <source srcset="#" media="(min-width: 768px)" />
          <source srcset="#" media="(max-width: 767px)" />
          <img src="#" alt="Фото Bohdan Kherson"
        /></picture>
        <div class="team__subtitle">
          <h3 class="team__name">Bohdan Kherson</h3>
          <p class="team__position" lang="en">Developer</p>
          <ul class="social-list list">
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <picture>
          <source srcset="#" media="(min-width: 1200px)" />
          <source srcset="#" media="(min-width: 768px)" />
          <source srcset="#" media="(max-width: 767px)" />
          <img src="#" alt="Фото Lera Voloshina"
        /></picture>
        <div class="team__subtitle">
          <h3 class="team__name">Lera Voloshina</h3>
          <p class="team__position" lang="en">Developer</p>
          <ul class="social-list list">
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <picture>
          <source srcset="#" media="(min-width: 1200px)" />
          <source srcset="#" media="(min-width: 768px)" />
          <source srcset="#" media="(max-width: 767px)" />
          <img src="#" alt="Фото Mykola Ischuk"
        /></picture>
        <div class="team__subtitle">
          <h3 class="team__name">Mykola Ischuk</h3>
          <p class="team__position" lang="en">Developer</p>
          <ul class="social-list list">
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <picture>
          <source srcset="#" media="(min-width: 1200px)" />
          <source srcset="#" media="(min-width: 768px)" />
          <source srcset="#" media="(max-width: 767px)" />
          <img src="#" alt="Фото Marina Zakvatska"
        /></picture>
        <div class="team__subtitle">
          <h3 class="team__name">Marina Zakvatska</h3>
          <p class="team__position" lang="en">Developer</p>
          <ul class="social-list list">
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
