<div class="modal-students modal" data-modal="5">
  <button
    class="modal-students__btn js-modal-close"
    type="button"
    data-modal-close
  >
    <svg lang="en" aria-label="close icon" class="modal-students__btn-icon">
      <use href="/src/images/sprite.svg#close-icon"></use>
    </svg>
  </button>

  <div class="team">
    <h2 class="team__title">Дико ліниві фетчі</h2>
    <ul class="team__list">
      <li class="team__images">
        <img
          class="team__image"
          src="/src/images/Serhii Shturma.jpeg"
          alt="Фото Serhii Shturma"
        />
        <div class="team__subtitle">
          <h3 class="team__name">Serhii Shturma</h3>
          <p class="team__position" lang="en">Team Lead</p>
          <ul class="social-list list">
            <li>
              <a
                href="https://github.com/SergeyShturma"
                class="social-list__link"
                target="_blank"
              >
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/sergey-shturma/"
                class="social-list__link"
                target="_blank"
              >
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <img
          class="team__image"
          src="/src/images/Elena Mulyarchuk.jpg"
          alt="Фото Elena Mulyarchuk"
        />
        <div class="team__subtitle">
          <h3 class="team__name">Elena Mulyarchuk</h3>
          <p class="team__position" lang="en">Scrum Master</p>
          <ul class="social-list list">
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <img
          class="team__image"
          src="/src/images/Igor Butuzov.jpeg"
          alt="Фото Igor Butuzov"
        />
        <div class="team__subtitle">
          <h3 class="team__name">Igor Butuzov</h3>
          <p class="team__position" lang="en">Developer</p>
          <ul class="social-list list">
            <li>
              <a
                href="https://github.com/IgorButuzov"
                class="social-list__link"
                target="_blank"
              >
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://linkedin.com/in/igor-butuzov-7a0305246/"
                class="social-list__link"
                target="_blank"
              >
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <img
          class="team__image"
          src="/src/images/Oksana Turkevich.jpg"
          alt="Фото Oksana Turkevych"
        />
        <div class="team__subtitle">
          <h3 class="team__name">Oksana Turkevych</h3>
          <p class="team__position" lang="en">Developer</p>
          <ul class="social-list list">
            <li>
              <a
                href="https://github.com/OksanaTur"
                class="social-list__link"
                target="_blank"
              >
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <img
          class="team__image"
          src="/src/images/Bohdan Kherson.jpg"
          alt="Фото Bohdan Kherson"
        />
        <div class="team__subtitle">
          <h3 class="team__name">Bohdan Kherson</h3>
          <p class="team__position" lang="en">Developer</p>
          <ul class="social-list list">
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <img
          class="team__image"
          src="/src/images/Lera Voloshina.jpg"
          alt="Фото Lera Voloshina"
        />
        <div class="team__subtitle">
          <h3 class="team__name">Lera Voloshina</h3>
          <p class="team__position" lang="en">Developer</p>
          <ul class="social-list list">
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <img
          class="team__image"
          src="/src/images/Mykola Ischuk.jpg"
          alt="Фото Mykola Ischuk"
        />
        <div class="team__subtitle">
          <h3 class="team__name">Mykola Ischuk</h3>
          <p class="team__position" lang="en">Developer</p>
          <ul class="social-list list">
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <img
          class="team__image"
          src="/src/images/Marina Zakvatska.jpg"
          alt="Фото Marina Zakvatska"
        />
        <div class="team__subtitle">
          <h3 class="team__name">Marina Zakvatska</h3>
          <p class="team__position" lang="en">Developer</p>
          <ul class="social-list list">
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__images">
        <img
          class="team__image"
          src="/src/images/Yevgen Feschenko.jpg"
          alt="Фото Yevgen Feschenko"
        />
        <div class="team__subtitle">
          <h3 class="team__name">Yevgen Feschenko</h3>
          <p class="team__position" lang="en">Developer</p>
          <ul class="social-list list">
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="github icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-list__link" target="_blank">
                <svg
                  lang="en"
                  aria-label="linkedin icon"
                  class="social-list-icon"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
