.modal-students {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: auto;
  background: #fcfcfc;
  border-radius: 40px;
  border: 2px solid #37f56d;

  @media screen and (max-width: 320px) {
    width: 100%;
    padding-left: 5px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 700px;
    height: auto;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    top: 18px;
    right: 18px;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border-color: transparent;
    background-color: transparent;
    transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      width: 20px;
      height: 20px;
    }

    &:hover,
    &:focus {
      border-color: #80cb16;
    }
  }
  &__btn-icon {
    fill: currentColor;
  }
}

.team {
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  &__images {
    background-color: var(--background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    max-width: 450px;

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 30px) / 3);
    }

    @media screen and (max-width: 450px) {
      max-width: 100%;
    }
  }

  &__image {
    transition: 1s;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }

    @media screen and (max-width: 767px) {
      width: 450px;
    }

    @media screen and (max-width: 1199px) {
      height: 300px;
    }

    @media screen and (min-width: 1200px) {
      height: 215px;
    }

    @media screen and (min-width: 1280px) {
      height: 270px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 40px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
    }
  }

  &__list {
    padding-left: 0;
    display: block;

    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  &__subtitle {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--background-color);
    border-radius: 0px 0px 4px 4px;
  }

  &__name {
    font-weight: 500;
    font-size: 19px;
    line-height: 1.19;
    text-align: center;
  }

  &__position {
    font-style: italic;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--secondary-text-color);
  }
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    background-color: var(--background-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--background-color);
      background-color: rgb(46, 175, 245);
    }
  }
}

.social-list-icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
